.new{
    color: red;
    text-align: center;
    background-color: royalblue;   
}

#para{
    background-color: lawngreen;
    text-align: center;
    color: maroon;
}

.whole{
    background-color: rebeccapurple;
}